<h2>Herb Info</h2>

<br>
<p>Name of herb: <%= @herb.name %></p>
<br>
<p>Is watered: <%= @herb.watered %></p>
<br>
<%= link_to 'Back to All Herbs', herbs_path %>

<br>
<%= link_to 'Edit Herb', edit_herb_path(@herb) %>
